# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.env
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
.pnp
.pnp.js
dist/
*.local

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
